@model Vidly.Models.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customeer.Name)
        @Html.TextBoxFor(m => m.Customeer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customeer.BirthDate)
        @Html.TextBoxFor(m => m.Customeer.BirthDate, "{0 : d MMM yyyy }", new { @class = "form-control" })
    </div>

    


    <div class="form-group">
        @Html.LabelFor(m => m.Customeer.MemberShipType)
        @Html.DropDownListFor(m => m.Customeer.MemberShipTypeId,new SelectList(Model.MemberShipTypes,"Id" ,"Name") ,"Select Member Ship", new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customeer.IsSubscribedToNewsLetter) Subscribed To News Letter?
        </label>
    </div>

    @Html.HiddenFor(m=>m.Customeer.Id)
    <button type="submit" class="btn btn-primary">Save  </button>

}

